body {
  background-color: mistyrose;
}

#mainBox {
  padding: 0;
  margin: 0;
  min-width: 100%;
}

#mainBoxContent {
  padding: 5px;
}

#titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.dotgothic16-regular {
  font-family: "DotGothic16", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: mediumpurple;
}

.figtree {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 5px;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline dotted purple;
  color: purple;
}

h4, summary {
  font-weight: 500;
  font-size: 14px;
  color: purple;
}

h5 {
  font-weight: 500;
  font-size: 12px;
  color: purple;
}

p, ul, ol {
  font-weight: 300;
  font-size: 12px;
}

details {
  border: 2px dotted purple;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 0.5em;
}

details summary {
  cursor: pointer;
}
